*{
    padding: 0;
    margin: 0;
    color: white;
}







body{
    background-color: #001;
    display: flex;

}

a{
    text-decoration: none;
}





.profile{
    display: flex;
    align-items: center;
    column-gap: 30px ;
}

.img-box{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
    border: 3px solid white;
    flex-shrink: 0;

    
}
.img-box img{
    width: 100%;  
}

.profile h2{
    font-size: 20px;
    text-transform: capitalize;
    white-space:nowrap;
}





.menu{
    background-color:#123;
    width: 60px;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    transition: .15s;
    position: fixed;
}

.menu:hover{
    width: 260px;
}
.menu:hover + .content{
    margin-left: 310px;
}




ul{
    list-style:none;
    position: relative;
    height: 95%;
    font-family: sans-serif;
}



ul li a{
    display:block;
    text-decoration: none;
    /* background-color: red; */
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    column-gap: 40px;
    transition: background-color .15s;
}



ul li a:hover,.active{
    background-color:#ffffff55;
    opacity: .7;
}


.log-out{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* background-color: #a00; */

}
.log-out a{
    background-color: #a00;

}

ul li a i{

    color: rgb(255, 255, 255);
    font-size: 30px;

}


.content{
    
    width: 100%;
    margin:10px 10px 10px 110px;
    

}
.title-info{
    background-color: rgb(42, 130, 219);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin: 10px 0;
}
.squre{
    display:flex;
    align-items: center;
    /* background-color: aliceblue; */
   flex-wrap: wrap;
    gap: 10px;
    

}

.squre a{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
   background-color:#123;
    height: 150px;
    width: 150px;
    border-radius: 20px;
}
.squre a:hover{
    background-color:#ffffff55;
}
.squre a i{
    font-size:30px ;
}
.squre-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.data{
    display: flex;
    
    
}
.frist{flex: 2;

}
.second{flex: 1;}
.third{flex: 1;}

.data div div {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
        background-color:#123;


}
.data div div:hover{
    background-color:#ffffff55;
}
/* .data div p {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
        background-color:#ffffff55;


} */

.hd ,.hd p{
        background-color: rgb(42, 130, 219) !important;
        /* border: 1px solid black !important; */
        /* margin: 5px !important;
        padding: 5px !important;
        border-radius: 10px !important; */


}
.second div p,.third div p{
    
    padding: 5px;
    border-radius: 8px;
}
.second div p{background-color: rgb(7, 124, 36);}
.third div p{background-color: rgb(243, 235, 3);color: #001;}
.frist div p{
    /* background-color: rgb(42, 130, 219); */
    padding: 5px;
    /* border-radius: 8px; */



}

